<div class="container-fluid border border-warning h-100">
  <h4 class="py-3 text-wrap">user-detail.component</h4>

  <!-- registry -->
  <ul class="text-start" style="list-style-type: none">
    <li class="p-1" *ngFor="let item of getObjectRegistry(users[0])">
      {{ item }}
    </li>
    <li class="p-1">{{ Date }}</li>
  </ul>

  <!-- address -->
  <h4 class="fw-bold text-start">Address:</h4>
  <ul class="text-start" style="list-style-type: none">
    <li class="p-1" *ngFor="let item of getObjectAddress(users[0])">
      {{ item }}
    </li>
  </ul>
  <img src="{{ ImagePath }} " alt="" style="width: 80%" />

  <!-- companies -->
  <div *ngFor="let item of users[0].companies">
    <h4 class="fw-bold text-start my-4">Company:{{ item.name }}</h4>
    <ul class="text-start" style="list-style-type: none">
      <li>Description: {{ item.description }}</li>
    </ul>
  </div>
</div>
