<div class="container" style="width: 50%">
  <header
    class="d-flex align-items-center justify-content-center justify-content-md-between p-3 m-2"
  >
    <ul
      class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0 p-3 gap-2"
    >
      <li>
        <a
          href="#"
          class="nav-link px-5"
          routerLink="projects/user"
          routerLinkActive="active"
          >Users</a
        >
      </li>
      <li>
        <a
          href="#"
          class="nav-link px-5"
          routerLink="projects/order"
          routerLinkActive="active"
          >Orders</a
        >
      </li>
    </ul>
  </header>
</div>
