<div
  #user
  *ngIf="rep; else noUser"
  class="p-2 border border-5"
  [ngClass]="{
    'border-primary': rep.Role === 'staff',
    'border-info': rep.Role === 'manager',
    'border-secondary': rep.Role === 'admin'
  }"
>
  <img src="{{ rep.profilePhotoUrl }} " alt="" style="width: 10%" />
  <span class="fw-bold p-2">{{ rep.Name }} {{ rep.Surname }}</span>
  <span class="p-2">{{ rep.Age }} {{ rep.Address.City }} </span>
  <div class="m-3 p-2">
    <button type="button" (click)="deleteUser(rep)">Remove User</button>
    <button type="button" (click)="sendUserDetail(rep)" class="ms-5">
      See more...
    </button>
  </div>
</div>

<ng-template #noUser>
  <div class="p-4">user.single-component</div>
</ng-template>
